/*General*/
$background:black;
$ligthblue: #05c4d3;
$white: #ffffff;
$blue:#242424;

/*Nav*/
$black_nav: black;

/*Animation*/
$ligthblue_opacity: #05c5d32f;
$violet_animation:#1937bd;
$blue_animation:rgb(33, 86, 231);

/*Footer*/
$footer_grey: #ffffff;